body{
    background-color:rgb(248, 237, 215);
}
.fa{
    color:blue;
}
.text{
 margin: 20px 1px;
}
span{
    font-size: 12px;
}
a{
    text-decoration: underline;
}
.box-part{
    background-color: white;
    padding: 40px 5px;
    margin: 20px 3px;
}
.box{
    padding: 60px 0px;

}